* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













footer {
    height: 7vh;
    background: #93e1a2;
    bottom: 0;
    width : 100%;
    color : green;
    display: flex;
    align-items: center;
    overflow:auto;
}

#CGU {
    margin-left: 10vw;
}

#FAQ {
    margin-left: 70vw;
}


#login-centre {
    margin-left : 30vw;
    margin-top : 10vh;
}

label {
    font-size: 8vh;
}

input {
    margin-top: 4vh;
    height: 10vh;
    font-size: 3vh;
    margin-bottom: 3vh;
    width : 25vw;
    background: white;
    border-top: none;
    border-bottom-color: black;
    border-left: none;
    border-right: none;
}


.button1 {
    height : 7vh;
    width : 20vw;
    margin-top: 3vh;
    margin-left: 5vw;
    border-radius: 1.5vw;
    appearance: none;
    background-color: #78C5F0;
    border: none;
    cursor: pointer;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 3vh;
    opacity: 1;
    outline: 0;
    position: relative;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition : opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button1:before {
    animation: opacityFallbackOut .5s step-end forwards;
    border-radius: 1.5vw;
    backface-visibility: hidden;
    background-color: #61ACD6;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button1:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button1 span {
    z-index: 1;
    position: relative;
}