@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    
    background: url("C:/Users/babal/OneDrive - ISEP/Documents/HTML_CSS/images/fond_jaune.png");
    /*background: url("C:/Users/babal/OneDrive - ISEP/Documents/HTML_CSS/naruto.jpg");*/
	font-family: "Trebuchet MS", Arial, sans-serif,;
	color: #181818;
    
    
}

#bloc_page
{
	width: 900px;
	margin: auto;
}

/* Header*/

header
{
	
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
    background: rgba(147, 225, 165, .6);
}

#titre_principal
{
	display: flex;
	flex-direction: column;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

header h1
{
	font-family: "BallparkWeiner", serif;
	font-size: 2.5em;
	font-weight: normal;
	margin: 0 0 0 10px;
}

/*liste, lien de navigation*/

nav ul 
{
	list-style-type: none;
	display: flex;
    width: 100%; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    border: 2px solid white;
    background: rgba(82, 136,217, .6)
    
}

nav li 
{
	margin-right: auto;
    text-align: center;

    
}

nav a 
{
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
    
}

nav a:hover
{
	color: #760001;
	border-bottom: 3px solid #760001;
}

header
{
    border: 3px black;
    
}

.home 
{
    margin-left: 100;
 }

.logo 
{
    width: 50;
    height: 40;
    background-color: #4CAF50;
}

footer
{
    display: flex;
    padding-top: 50%;
}

#charte
{
	width: 100%;
    text-align: center;
    color: red;
    
}



